{
    "username": "test_user",
    "password": "lesson1run"
}
2b299dd9d45ba974295951db86131f460859776f
  {
        "amount": 100000.0,
        "company": "popis",
        "description": "sssssssssssssssss",
        "user": "ep"

    }


  {
        "amount": 91000.0,
        "description": "sssssssssssssssss",
        "name_of_category": "Проезд"
    }


docker run -d -p 80:80 docker/getting-started



# @api_view(["GET"])
# @permission_classes([IsAuthenticated])
# def user_create_categories(request):
#     Category.objects.create(user=request.user,
#                                 category_name='Забота о себе',
#                                 category_amount=0),
#     Category.objects.create(user=request.user,
#                                 category_name='Здоровье',
#                                 category_amount=0)
#     Category.objects.create(user=request.user,
#                             category_name='Зарплата',
#                             category_amount=0)
#     Category.objects.create(user=request.user,
#                             category_name='Кафе и рестораны',
#                             category_amount=0)
#     Category.objects.create(user=request.user,
#                             category_name='Машина',
#                             category_amount=0)
#     Category.objects.create(user=request.user,
#                             category_name='Образование',
#                             category_amount=0)
#     Category.objects.create(user=request.user,
#                             category_name='Отдых и развлечения',
#                             category_amount=0)
#     Category.objects.create(user=request.user,
#                             category_name='Платежи,комиссии',
#                             category_amount=0)
#     Category.objects.create(user=request.user,
#                             category_name='Покупки: одежда, техника',
#                             category_amount=0)
#     Category.objects.create(user=request.user,
#                             category_name='Продукты',
#                             category_amount=0)
#     Category.objects.create(user=request.user,
#                             category_name='Проезд',
#                             category_amount=0)